:root {
  --color-primary: #6943ff;
  --color-primary-light: #b295ff;
  --color-primary-lighter: #ccc1ff;
  --color-secondary: #273549;
  --color-tertiary: #1f2937;
  --color-white: #fefefe;
  --color-black: #1c1c1c;

  --font-family: "Inter", sans-serif;
  --font-size-base: 1rem;
  --font-size-h1: calc(var(--font-size-base) * 1.75);
  --font-size-h2: calc(var(--font-size-base) * 1.25);

  --btn-bg: var(--color-white);
  --btn-color: var(--color-black);
  --btn-padding: 14px 27.5px;
  --btn-border-radius: 5px;
}

/* Mini reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-white);
  background-color: var(--color-black);
}

main {
  max-width: 550px;
  margin: 40px auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: var(--color-primary);
}

.header-title {
  font-size: var(--font-size-h1);
  margin-bottom: 40px;
}

.unit-input {
  width: 100px;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 3.625rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary-light);
  border-radius: 5px;
}

.output-wrapper {
  padding: 20px;
  background-color: var(--color-tertiary);
}

.output-section {
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--color-secondary);
}

.output-title {
  margin-bottom: 10px;
  color: var(--color-primary-lighter);
  font-size: var(--font-size-h2);
  font-weight: 500;
}

.output-result {
  font-size: 0.9rem;
}

.btn {
  padding: var(--btn-padding);
  color: var(--btn-color);
  font-weight: 500;
  font-family: var(--font-family);
  background-color: var(--btn-bg);
  border: none;
  border-radius: var(--btn-border-radius);
  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-white);
    cursor: pointer;
  }
}
